body {
  background-color: black;
}

.app {
  color: green;
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

form {
  margin-bottom: 20px;
}

input,
textarea,
select,
button {
  /* background-color:ray; */
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

button {
  cursor: pointer;
}